*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "myFont";
    src: url(poppins/Poppins-Regular.otf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
    src: url(Syne/Syne-VariableFont_wght.ttf); 
}

html {
    font-family: 'myFont', 'Syne';
}

body{
    background-color: #fdfbf5;
    color: #191919;
}

.page_wrapper{
     /* border: 1px solid #191919; */
     position: absolute;
     height: 100vh;
     z-index: 100;
     /* padding-left: 40px;
     padding-right: 40px; */
}


/* changed by adding top 0 */
header{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    height: 10vh;
    background-color: #fdfbf5;
    align-items: center;
    border-bottom: 1px solid #191919;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
}

header div:nth-child(1) a, header div:nth-child(2) a{
     color: #191919;
     text-transform: uppercase;
     text-decoration: none;
}

 header div:nth-child(1){
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding-left: 10px;
    padding-right: 10px; */
}

header div:nth-child(1) a{
    font-size: 30px;
}

header div:nth-child(1) span{
    font-weight: 200;
    font-size: 36px;
}

header div:nth-child(1) span:hover{
    cursor: pointer;
}

header div:nth-child(2) a{
    border-bottom: #191919 solid 1px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    letter-spacing: 1px;
}

header div:nth-child(2) a:last-of-type{
    border-bottom: none;
}

/* Mobile view menu */

.main-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fdfbf5;
    top: 10vh;
    height: 280px;
    width: 100%;
    grid-column-gap: 0.75rem;
    padding: 20px;
    border: 1px solid #191919; 
    margin-top: -1px;
    transform: translateY(200vh);
    opacity: 0;
    transition: all 0s;
} 

@keyframes menu-open-anime {
    0% {
        transform: translateY(200vh);
        opacity: 0;
    }
    20% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }    
}

.menu_open{
    animation: menu-open-anime 0.3s ease-in;
    transform: translateY(0);
    opacity: 1;
}

@keyframes menu-close-anime {
   
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(200vh);
        opacity: 0;
    }    
}

.menu_close{
    
    opacity: 0;
    transform: translateY(200vh);
}
.animation {
    animation: menu-close-anime 0.3s ease-out;
}

/* End of mobile view menu */

@font-face {
    font-family: "poppins";
    src: url(poppins/Poppins-Regular.otf);

}

@font-face {
    font-family: "montSerrat";
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}


@font-face {
    font-family: "satoshiFont";
    /* src: url(poppins/Poppins-Regular.otf); */
    src: url(Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);

}

main{
    position: relative;
    top: 10vh;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "satoshiFont";
    font-weight: 200;
    color: #191919;
}


.intro {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #191919;
    gap: 30px;
    padding: 40px 0 40px;
    /* overflow: scroll; */
}


.intro div:nth-child(1){
    font-family: "satoshiFont";
    flex: 1;
}


.intro div:nth-child(1) >div{
   margin-bottom: 25px;
   font-family: "montSerrat";
}

.intro div:nth-child(1) >div p:first-child{
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 4px;
    text-align: left;

}

.intro div:nth-child(1) >div p:first-child span{
    font-weight: 400;
}

.intro div:nth-child(1) >div p:last-child{
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 300;
}


.intro div:nth-child(1) >div p{
    font-weight: 400;
}


.intro div:nth-child(1) p{
     font-size: 18px; 
     text-align: left;
}

.intro div:nth-child(1) p:first-of-type{
    margin-bottom: 10px;
}



.intro div:nth-child(2){
      flex: 1;
}

.intro div:nth-child(2) img{
    border-radius: 16px;
    object-fit: cover;
    width: 100%;    
}




.qualification{
  padding: 40px 0 40px 0;
  border-bottom: 1px solid #191919;
}

.qualification div:nth-child(1){
    text-transform: uppercase;
    font-family: "myFont";
    letter-spacing: 1px;
    margin-bottom: 20px;
    display: flex;
    padding: 0;
    font-weight: 100;
}

.qualification div:nth-child(2) span{
    font-size: 80px;
    font-weight: 100;
    align-self: flex-start;
    margin-left: -13px;
    padding: 0;
}

.qualification div:nth-child(2) div > p:first-of-type{
    font-family: "myFont";
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.qualification div:nth-child(2) div > p:last-of-type{
    line-height: 1.5;
}



@media screen and (min-width:576px) {
      
         
}


@media screen and (min-width:640px) {

    
    .intro div:nth-child(2) p{
        font-size: 20px;
        line-height: 1.5; 
        text-align: left;
   }


   .qualification div:nth-child(2){
    display: flex;
    column-gap: 40px;
   }

   .qualification div:nth-child(2) > div:nth-child(2){
     flex-direction: column;
   }
    
}


@media screen and (min-width:768px) {

            .main-menu{
                display: flex !important;
                flex-direction: row;
                position: relative;
                background-color: #fdfbf5;
                top: 0;
                height: auto;
                width: auto;
                gap: 30px;
                padding: 20px;
                border: none; 
                margin-top: 0;
                transform: translateY(0) !important;
                opacity: 1 !important;
                transition: all 0s;
            }

            .menu_open{
                animation: menu-open-anime 0.3s ease-in;
                transform: translateY(0);
                opacity: 1;
            }


            .menu_close{
                opacity: 1;
                transform: translateY(200vh);
            }

            header div:nth-child(2) a{
                border-bottom: none;
                padding-bottom: 0;
                padding-top: 0;
                letter-spacing: 1px;
            }

            header div:nth-child(2) a:hover{
               border-bottom: 1.5px solid #191919;
            }

            #open_toggle{
                display: none;
            }


            .intro {
                flex-direction: row;
                padding: 60px 0 60px;
                /* overflow: scroll; */
            }


            .intro div:nth-child(1) >div p:first-child{
                font-size: 80px;
                line-height: 1;
                letter-spacing: 0;
                text-align: left;
            }
            
            .intro div:nth-child(1) >div p:first-child span{
                /* font-weight: 500; */
            }
            
            .intro div:nth-child(1) >div p:last-child{
                font-size: 30px;
                text-transform: uppercase;
                text-align: left;
                letter-spacing: 5px;
                /* color: #fdfbf5;
                background-color: #191919; */
             
            }
            
            
            .intro div:nth-child(1) >div p{
                font-weight: 400;
            }
            
            
            .intro div:nth-child(1) p{
                 font-size: 20px;
                 line-height: 1.5; 
                 text-align: left;
            }
            
            .intro div:nth-child(1) p:first-of-type{
                margin-bottom: 15px;
            
            }
            

            .intro div:nth-child(2) img{
              
                height: 100%;
            }
            


}

@media screen and (min-width:1024px) {

   
       

}

@media screen and (min-width:1200px) {
    
    .intro {
        padding: 80px 0 80px;
        /* overflow: scroll; */
    }

    .intro div:nth-child(1) p{
        font-size: 24px;
   }
   
}